<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Base.v2 | {{ pageTitle }}</title>

		<link rel="stylesheet" href="/assets/css/main.css">
		<script src="/assets/js/vendor-head.js" type="text/javascript"></script>
	</head>

	<body class="{{ pageTitle | replace(' ', '-') | lower }}">
		<div class="o-wrapper">
			<header>  
				<i class="icon icon-box"></i>
			</header>
		</div>

		{% block content %}{% endblock %}

		<script
		  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
		  crossorigin="anonymous"></script>
		<script src="/assets/js/vendor-foot.js" type="text/javascript"></script>
		<script src="/assets/js/global.js" type="text/javascript"></script>
	</body>
</html> 