{% set pageTitle = "Home" %}
{% extends "_layout.njk" %}

{% block content %}
<div class="o-wrapper u-padding-vertical">
	{% include "_components/_layout.njk" ignore missing %}
	
	{% include "_components/_block.njk" ignore missing %}

	{% include "_components/_box.njk" ignore missing %}

	{% include "_components/_crop.njk" ignore missing %}

	{% include "_components/_flag.njk" ignore missing %}

	{% include "_components/_list-bare.njk" ignore missing %}

	{% include "_components/_list-inline.njk" ignore missing %}

	{% include "_components/_media.njk" ignore missing %}

	{% include "_components/_pack.njk" ignore missing %}

	{% include "_components/_ratio.njk" ignore missing %}
 
	{% include "_components/_table.njk" ignore missing %}
</div>
{% endblock %}