<div class="o-flag o-flag--tiny o-flag--reverse">
    <div class="o-flag__img">
        <img src="http://placehold.it/100x108">
    </div>
    <p class="o-flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ullam iusto eaque deserunt. Nulla aspernatur atque voluptatem eum cupiditate exercitationem architecto amet nemo! Odio accusamus nobis, non, inventore cupiditate laudantium pariatur! Voluptas repellat distinctio esse perspiciatis omnis soluta pariatur ducimus veritatis officia perferendis. Doloribus adipisci unde deleniti reiciendis dolor sint!</p>
</div>