<div class="o-layout o-layout--middle o-layout--center o-layout--flush">
	<div class="o-layout__item u-1/1 u-1/2@desktop">
		<div class="o-layout o-layout--middle o-layout--center o-layout--flush">
			<div class="o-layout__item u-1/1 u-1/2@tablet">
				<div class="o-crop o-crop--4:3 o-crop--fill">
				    <img class="o-crop__content o-crop__content--center" src="https://picsum.photos/600x600/?random=1">
				</div>
			</div>

			<div class="o-layout__item u-1/1 u-1/2@tablet">
				<div class="o-crop o-crop--4:3 o-crop--fill">
				    <img class="o-crop__content o-crop__content--center" src="https://picsum.photos/600x600/?random=2">
				</div>
			</div>

			<div class="o-layout__item u-1/1 u-1/2@tablet">
				<div class="o-crop o-crop--4:3 o-crop--fill">
				    <img class="o-crop__content o-crop__content--center" src="https://picsum.photos/600x600/?random=3">
				</div>
			</div>

			<div class="o-layout__item u-1/1 u-1/2@tablet">
				<div class="o-crop o-crop--4:3 o-crop--fill">
				    <img class="o-crop__content o-crop__content--center" src="https://picsum.photos/600x600/?random=4">
				</div>
			</div>
		</div>
	</div>

	<div class="o-layout__item u-1/1 u-1/2@desktop">
		<div class="o-crop o-crop--4:3 o-crop--fill">
		    <img class="o-crop__content o-crop__content--center" src="https://picsum.photos/600x600/?random=5">
		</div>
	</div>

	<div class="o-layout__item u-1/1 u-1/2@desktop">
		<div class="o-crop o-crop--4:3 o-crop--fill">
		    <img class="o-crop__content o-crop__content--center" src="https://picsum.photos/600x600/?random=6">
		</div>
	</div>

	<div class="o-layout__item u-1/1 u-1/2@desktop">
		<div class="o-layout o-layout--middle o-layout--center o-layout--flush">
			<div class="o-layout__item u-1/1 u-1/2@tablet">
				<div class="o-crop o-crop--4:3 o-crop--fill">
				    <img class="o-crop__content o-crop__content--center" src="https://picsum.photos/600x600/?random=7">
				</div>
			</div>

			<div class="o-layout__item u-1/1 u-1/2@tablet">
				<div class="o-crop o-crop--4:3 o-crop--fill">
				    <img class="o-crop__content o-crop__content--center" src="https://picsum.photos/600x600/?random=8">
				</div>
			</div>

			<div class="o-layout__item u-1/1 u-1/2@tablet">
				<div class="o-crop o-crop--4:3 o-crop--fill">
				    <img class="o-crop__content o-crop__content--center" src="https://picsum.photos/600x600/?random=9">
				</div>
			</div>

			<div class="o-layout__item u-1/1 u-1/2@tablet">
				<div class="o-crop o-crop--4:3 o-crop--fill">
				    <img class="o-crop__content o-crop__content--center" src="https://picsum.photos/600x600/?random=10">
				</div>
			</div>
		</div>
	</div>
</div>