<div class="o-pack o-pack--auto o-pack--large">
    <div class="o-pack__item">
        <p>Lorem ipsum.</p>
    </div>
    <div class="o-pack__item">
        <p>Lorem ipsum dolor, sapiente.</p>
    </div>
    <div class="o-pack__item">
        <p>Lorem.</p>
    </div>
</div>